<div class="comments">
    {% for comment in comments %}
        <div class="comment mb-2">
            <div class="author"><b>Author: </b> {{ comment.author.login }}</div>
            <div class="text"><b>Text: </b> {{ comment.text }}</div>
        </div>
    {% endfor %}
</div>
